<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>Background</key>
			<string>level_map1</string>
			<key>ShrinkBackgroundBorderBy</key>
			<real>0.9</real>
			<key>DebugBoundary</key>
			<true/>
			<key>FollowDelay</key>
			<real>0.37</real>
			<key>UseDelayedFollow</key>
			<string>NO</string>
			<key>Characters</key>
			<array>
				<dict>
					<key>FollowingEnabled</key>
					<true/>
					<key>BaseFrame</key>
					<string>character</string>
					<key>Speed</key>
					<integer>6</integer>
					<key>StartLocation</key>
					<string>{ 0 , 0 }</string>
					<key>UseForCollisions</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>CollisionBodyCoversWhatPercent</key>
					<integer>1</integer>
					<key>DebugBody</key>
					<false/>
					<key>FPS</key>
					<integer>20</integer>
					<key>UseRestingFrames</key>
					<true/>
					<key>RestingAtlasFile</key>
					<string>still</string>
					<key>RestingFrames</key>
					<array>
						<string>still_frame1</string>
						<string>still_frame2</string>
						<string>still_frame3</string>
						<string>still_frame4</string>
						<string>still_frame3</string>
						<string>still_frame2</string>
						<string>still_frame1</string>
					</array>
					<key>UseFrontViewFrames</key>
					<true/>
					<key>WalkFrontAtlasFile</key>
					<string>front</string>
					<key>WalkFrontFrames</key>
					<array>
						<string>walk_front1</string>
						<string>walk_front2</string>
						<string>walk_front3</string>
						<string>walk_front4</string>
						<string>walk_front5</string>
						<string>walk_front6</string>
						<string>walk_front7</string>
						<string>walk_front8</string>
					</array>
					<key>UseSideViewFrames</key>
					<true/>
					<key>WalkSideAtlasFile</key>
					<string>side</string>
					<key>WalkSideFrames</key>
					<array>
						<string>walk_side1</string>
						<string>walk_side2</string>
						<string>walk_side3</string>
						<string>walk_side4</string>
						<string>walk_side5</string>
						<string>walk_side6</string>
						<string>walk_side7</string>
						<string>walk_side8</string>
					</array>
					<key>UseBackViewFrames</key>
					<true/>
					<key>WalkBackAtlasFile</key>
					<string>back</string>
					<key>WalkBackFrames</key>
					<array>
						<string>walk_back1</string>
						<string>walk_back2</string>
						<string>walk_back3</string>
						<string>walk_back4</string>
						<string>walk_back5</string>
						<string>walk_back6</string>
						<string>walk_back7</string>
						<string>walk_back8</string>
					</array>
					<key>DoesAttackWhenNotLeader</key>
					<true/>
					<key>UseFrontAttackFrames</key>
					<true/>
					<key>FrontAttackAtlasFile</key>
					<string>front</string>
					<key>FrontAttackFrames</key>
					<array>
						<string>front_attack1</string>
						<string>front_attack2</string>
						<string>front_attack3</string>
						<string>front_attack4</string>
					</array>
					<key>UseSideAttackFrames</key>
					<true/>
					<key>SideAttackAtlasFile</key>
					<string>side</string>
					<key>SideAttackFrames</key>
					<array>
						<string>side_attack1</string>
						<string>side_attack2</string>
						<string>side_attack3</string>
						<string>side_attack4</string>
						<string>side_attack5</string>
					</array>
					<key>UseBackAttackFrames</key>
					<true/>
					<key>BackAttackAtlasFile</key>
					<string>back</string>
					<key>BackAttackFrames</key>
					<array>
						<string>back_attack1</string>
						<string>back_attack2</string>
						<string>back_attack3</string>
						<string>back_attack4</string>
						<string>back_attack5</string>
					</array>
					<key>UseAttackParticles</key>
					<true/>
					<key>AttackParticleFile</key>
					<string>spark</string>
					<key>ParticlesToEmit</key>
					<integer>15</integer>
					<key>ParticleDelay</key>
					<real>0</real>
					<key>HasOwnHealth</key>
					<true/>
					<key>Health</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>FollowingEnabled</key>
					<false/>
					<key>BaseFrame</key>
					<string>character</string>
					<key>Speed</key>
					<integer>5</integer>
					<key>StartLocation</key>
					<string>{ 100 , 0 }</string>
					<key>UseForCollisions</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>CollisionBodyCoversWhatPercent</key>
					<integer>1</integer>
					<key>DebugBody</key>
					<false/>
					<key>FPS</key>
					<integer>20</integer>
					<key>UseRestingFrames</key>
					<true/>
					<key>RestingAtlasFile</key>
					<string>still</string>
					<key>RestingFrames</key>
					<array>
						<string>still_frame1</string>
						<string>still_frame2</string>
						<string>still_frame3</string>
						<string>still_frame4</string>
						<string>still_frame3</string>
						<string>still_frame2</string>
						<string>still_frame1</string>
					</array>
					<key>UseFrontViewFrames</key>
					<true/>
					<key>WalkFrontAtlasFile</key>
					<string>front</string>
					<key>WalkFrontFrames</key>
					<array>
						<string>walk_front1</string>
						<string>walk_front2</string>
						<string>walk_front3</string>
						<string>walk_front4</string>
						<string>walk_front5</string>
						<string>walk_front6</string>
						<string>walk_front7</string>
						<string>walk_front8</string>
					</array>
					<key>UseSideViewFrames</key>
					<true/>
					<key>WalkSideAtlasFile</key>
					<string>side</string>
					<key>WalkSideFrames</key>
					<array>
						<string>walk_side1</string>
						<string>walk_side2</string>
						<string>walk_side3</string>
						<string>walk_side4</string>
						<string>walk_side5</string>
						<string>walk_side6</string>
						<string>walk_side7</string>
						<string>walk_side8</string>
					</array>
					<key>UseBackViewFrames</key>
					<true/>
					<key>WalkBackAtlasFile</key>
					<string>back</string>
					<key>WalkBackFrames</key>
					<array>
						<string>walk_back1</string>
						<string>walk_back2</string>
						<string>walk_back3</string>
						<string>walk_back4</string>
						<string>walk_back5</string>
						<string>walk_back6</string>
						<string>walk_back7</string>
						<string>walk_back8</string>
					</array>
					<key>DoesAttackWhenNotLeader</key>
					<true/>
					<key>UseFrontAttackFrames</key>
					<true/>
					<key>FrontAttackAtlasFile</key>
					<string>front</string>
					<key>FrontAttackFrames</key>
					<array>
						<string>front_attack1</string>
						<string>front_attack2</string>
						<string>front_attack3</string>
						<string>front_attack4</string>
					</array>
					<key>UseSideAttackFrames</key>
					<true/>
					<key>SideAttackAtlasFile</key>
					<string>side</string>
					<key>SideAttackFrames</key>
					<array>
						<string>side_attack1</string>
						<string>side_attack2</string>
						<string>side_attack3</string>
						<string>side_attack4</string>
						<string>side_attack5</string>
					</array>
					<key>UseBackAttackFrames</key>
					<true/>
					<key>BackAttackAtlasFile</key>
					<string>back</string>
					<key>BackAttackFrames</key>
					<array>
						<string>back_attack1</string>
						<string>back_attack2</string>
						<string>back_attack3</string>
						<string>back_attack4</string>
						<string>back_attack5</string>
					</array>
					<key>UseAttackParticles</key>
					<true/>
					<key>AttackParticleFile</key>
					<string>spark</string>
					<key>ParticlesToEmit</key>
					<integer>15</integer>
					<key>ParticleDelay</key>
					<real>0</real>
					<key>HasOwnHealth</key>
					<true/>
					<key>Health</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>FollowingEnabled</key>
					<false/>
					<key>BaseFrame</key>
					<string>character</string>
					<key>Speed</key>
					<integer>5</integer>
					<key>StartLocation</key>
					<string>{ 200 , 0 }</string>
					<key>UseForCollisions</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>CollisionBodyCoversWhatPercent</key>
					<integer>1</integer>
					<key>DebugBody</key>
					<false/>
					<key>FPS</key>
					<integer>20</integer>
					<key>UseRestingFrames</key>
					<true/>
					<key>RestingAtlasFile</key>
					<string>still</string>
					<key>RestingFrames</key>
					<array>
						<string>still_frame1</string>
						<string>still_frame2</string>
						<string>still_frame3</string>
						<string>still_frame4</string>
						<string>still_frame3</string>
						<string>still_frame2</string>
						<string>still_frame1</string>
					</array>
					<key>UseFrontViewFrames</key>
					<true/>
					<key>WalkFrontAtlasFile</key>
					<string>front</string>
					<key>WalkFrontFrames</key>
					<array>
						<string>walk_front1</string>
						<string>walk_front2</string>
						<string>walk_front3</string>
						<string>walk_front4</string>
						<string>walk_front5</string>
						<string>walk_front6</string>
						<string>walk_front7</string>
						<string>walk_front8</string>
					</array>
					<key>UseSideViewFrames</key>
					<true/>
					<key>WalkSideAtlasFile</key>
					<string>side</string>
					<key>WalkSideFrames</key>
					<array>
						<string>walk_side1</string>
						<string>walk_side2</string>
						<string>walk_side3</string>
						<string>walk_side4</string>
						<string>walk_side5</string>
						<string>walk_side6</string>
						<string>walk_side7</string>
						<string>walk_side8</string>
					</array>
					<key>UseBackViewFrames</key>
					<true/>
					<key>WalkBackAtlasFile</key>
					<string>back</string>
					<key>WalkBackFrames</key>
					<array>
						<string>walk_back1</string>
						<string>walk_back2</string>
						<string>walk_back3</string>
						<string>walk_back4</string>
						<string>walk_back5</string>
						<string>walk_back6</string>
						<string>walk_back7</string>
						<string>walk_back8</string>
					</array>
					<key>DoesAttackWhenNotLeader</key>
					<true/>
					<key>UseFrontAttackFrames</key>
					<true/>
					<key>FrontAttackAtlasFile</key>
					<string>front</string>
					<key>FrontAttackFrames</key>
					<array>
						<string>front_attack1</string>
						<string>front_attack2</string>
						<string>front_attack3</string>
						<string>front_attack4</string>
					</array>
					<key>UseSideAttackFrames</key>
					<true/>
					<key>SideAttackAtlasFile</key>
					<string>side</string>
					<key>SideAttackFrames</key>
					<array>
						<string>side_attack1</string>
						<string>side_attack2</string>
						<string>side_attack3</string>
						<string>side_attack4</string>
						<string>side_attack5</string>
					</array>
					<key>UseBackAttackFrames</key>
					<true/>
					<key>BackAttackAtlasFile</key>
					<string>back</string>
					<key>BackAttackFrames</key>
					<array>
						<string>back_attack1</string>
						<string>back_attack2</string>
						<string>back_attack3</string>
						<string>back_attack4</string>
						<string>back_attack5</string>
					</array>
					<key>UseAttackParticles</key>
					<true/>
					<key>AttackParticleFile</key>
					<string>spark</string>
					<key>ParticlesToEmit</key>
					<integer>15</integer>
					<key>ParticleDelay</key>
					<real>0</real>
					<key>HasOwnHealth</key>
					<true/>
					<key>Health</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
